body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: rgb(4,5,65);
    background: linear-gradient(180deg, rgba(4,5,65,1) 0%, rgba(15,13,172,1) 46%, rgba(205,14,191,1) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#botao{
    background-color: #9d10b6;
    text-align: center;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logoimg{
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: flex-start;
}

#indeximg{
    margin: 40px;
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    height: 90vh;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
}

#loginForm{
    color: white;
}

#h1login{
    color: white;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(75,18,144,1) 38%, rgba(125,50,255,1) 100%);
    padding: 50px 100px;
    border-radius: 10px;
}

label {
    margin: 5px 0;
}

input[type="text"], input[type="password"], input[type="radio"] {
    margin: 5px 0;
    border-radius: 5px;
    border: 2px solid white;
    opacity: 70%;
}

#inscrever{
   display: flex;
   align-items: center;
   justify-content: center;
}

#inscrever{
    color: white;
    opacity: 85%;
}
hr{
    border: 1px solid rgb(244, 244, 244);
    opacity: 50%;
}

#searchInput{   
    background-color: lightgrey;
    border-radius: 14px;
    opacity: 50%;
    height: 50px;
    width: 300px;
    margin-left: 20px;
}


iframe{
    display: flex;
    height: 85vh;
    width: 100%;
}

/*** SEPARAÇÃO ***/

span{
    padding: 2rem;
    font-size: 1.3rem;
}

.chat-container{
    display: flex;
}

nav .menu a{
    padding: 40px;
    padding-top: 42px;
    text-decoration: none;
}

nav .menu a:hover{
    transition: 0.3s;
    background-color: rgb(32, 17, 166);
}

nav{
    width: 100%;
    height: 15vh;
    background-color:rgb(17, 17, 125) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    width: 30%;
    margin-right: 2rem;
}

nav img{
    width: 100px;
    margin-left: 1%;
}

nav a{
    color: rgb(0, 217, 255);
}

.chat-column{
    width: 30%;
}

.chat-evento img{
    width: 100px;
}

.chat-evento{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

.chat-evento-texto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.chat-display-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
}

.chat-display{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 15%, rgba(131,127,241,1) 100%);
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position:absolute;
    margin-bottom: 15px;
    margin-left: 140px;
}